.container{
  border: 1px solid red;
  background-color: black;
  width: 900px;
}

nav{
    background-color: rgb(82, 93, 126);
}

.nav-link{
  color: antiquewhite;
  font-weight: 700;
  text-decoration: none;
}