.container{
  background-color: black;
  width: 900px;
}
.nav{
    background-color: rgb(69, 76, 88);
    padding: 1rem;
}

nav{
    background-color: rgb(82, 93, 126);
}

.nav-link{
  color: antiquewhite;
  font-weight: 700;
  text-decoration: none;
}
main{
    color: blanchedalmond;
}
footer p{
    color: blanchedalmond;
    text-align: center;
}